# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [16]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
cars2 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')

In [3]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

In [4]:
cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [7]:
cars1 = cars1.loc[:,"mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [11]:
print(cars1.shape[0],",",cars2.shape[0])

198 , 200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [20]:
cars = pd.concat([cars1,cars2],join="inner")

(398, 9)

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [27]:
random = np.random.randint(15000,73000,size=(cars.shape[0]))
random

array([39313, 49111, 67690, 34582, 42970, 56666, 39697, 71016, 30420,
       38043, 50733, 30141, 48617, 23729, 39739, 54894, 60570, 59043,
       32989, 15055, 42970, 54398, 67567, 52458, 44068, 66921, 51553,
       53459, 58640, 71217, 48281, 51074, 45899, 64801, 60521, 54154,
       54300, 32594, 51217, 67301, 41801, 41701, 48541, 21211, 21048,
       52855, 37178, 46539, 32542, 48976, 53550, 18731, 27335, 54021,
       47871, 46289, 19958, 63460, 69055, 24174, 70057, 16154, 64461,
       37020, 35474, 24626, 58994, 28149, 27128, 42900, 31817, 31507,
       53722, 22142, 57916, 57826, 28213, 71751, 15747, 15019, 41039,
       29767, 26424, 24263, 25343, 38039, 37379, 64365, 18975, 54729,
       32329, 27337, 46970, 62045, 66787, 42150, 48239, 41479, 57245,
       18251, 65457, 20320, 61217, 45199, 27570, 53397, 72403, 18108,
       36394, 17699, 28333, 35006, 33608, 34279, 67858, 57504, 17780,
       34045, 33167, 32181, 44546, 44769, 24760, 42640, 15884, 40814,
       56310, 67456, 33748, 16849, 16539, 37533, 68489, 15096, 70637,
       27662, 35014, 37097, 43804, 54297, 38384, 49594, 38586, 51658,
       43233, 34166, 48537, 28840, 28498, 34597, 51700, 29982, 23084,
       49702, 64455, 29069, 37391, 24322, 57650, 19555, 64547, 61959,
       21446, 16625, 35721, 64902, 70842, 69532, 34450, 67448, 24961,
       50923, 55193, 61003, 62924, 35849, 62389, 43105, 19182, 52395,
       42840, 21967, 29554, 32939, 43107, 40980, 15469, 72787, 72227,
       46432, 29435, 19816, 72663, 47965, 33432, 47476, 56739, 62597,
       36279, 32380, 34463, 36906, 48108, 37388, 56569, 29986, 60192,
       51681, 22974, 57828, 40972, 18771, 30007, 49122, 65911, 25405,
       54783, 24943, 55628, 65392, 69576, 36126, 56015, 60548, 68970,
       52898, 22968, 27183, 38422, 21681, 57989, 48770, 70312, 31766,
       59512, 35620, 27411, 68889, 57475, 45469, 31181, 56599, 42313,
       70374, 47507, 27092, 22119, 45634, 72802, 51505, 54272, 20956,
       57568, 30613, 15465, 67146, 38710, 21882, 37234, 28785, 68075,
       58643, 54629, 16590, 18731, 44324, 20229, 45905, 29621, 42415,
       16141, 35057, 66168, 51253, 59790, 40386, 35420, 30029, 26921,
       54421, 36421, 23198, 27418, 18070, 53093, 46424, 50693, 51166,
       46682, 55342, 33473, 64664, 48536, 56327, 30546, 28444, 44645,
       17661, 17647, 33237, 30182, 24195, 59159, 57255, 72113, 34090,
       44925, 29507, 69553, 38792, 59527, 30928, 33589, 17182, 53474,
       57161, 56696, 17353, 24110, 31818, 35304, 64710, 57407, 32444,
       27023, 64938, 42007, 19328, 23073, 48091, 32796, 29372, 59459,
       27365, 68922, 70067, 69885, 43833, 42914, 24175, 53693, 63890,
       17328, 24212, 17194, 42684, 18334, 16022, 39141, 63750, 47731,
       18409, 72890, 21610, 66452, 44701, 70624, 60483, 52362, 69222,
       53673, 59203, 50348, 63877, 62925, 24855, 59719, 65671, 68087,
       30468, 33908, 42726, 17791, 54912, 18895, 20281, 37421, 46953,
       34307, 54624, 47353, 54871, 18605, 29302, 62358, 37064, 31377,
       56778, 69943, 34396, 68473, 22686, 47934, 32313, 27152, 23613,
       72724, 56722])

### Step 8. Add the column owners to cars

In [28]:
cars["owners"]=pd.Series(random)
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,39313
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,49111
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,67690
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,34582
4,17.0,8,302,140,3449,10.5,70,1,ford torino,42970