# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [2]:
baby_names = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')
baby_names.head()

   Unnamed: 0     Id     Name  Year Gender State  Count
0       11349  11350     Emma  2004      F    AK     62
1       11350  11351  Madison  2004      F    AK     48
2       11351  11352   Hannah  2004      F    AK     46
3       11352  11353    Grace  2004      F    AK     44
4       11353  11354    Emily  2004      F    AK     41

### Step 4. See the first 10 entries

In [3]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [4]:
baby_names.drop(labels=['Unnamed: 0'], axis=1,inplace=True)
baby_names.drop(labels=['Id'], axis=1,inplace=True)
baby_names.head()

      Name  Year Gender State  Count
0     Emma  2004      F    AK     62
1  Madison  2004      F    AK     48
2   Hannah  2004      F    AK     46
3    Grace  2004      F    AK     44
4    Emily  2004      F    AK     41

### Step 6. Is there more male or female names in the dataset?

In [5]:
if baby_names.Gender.value_counts().F > baby_names.Gender.value_counts().M:
  print("Females")
else:
  print("Males")

Females

### Step 7. Group the dataset by name and assign to names

In [6]:
names = pd.DataFrame(baby_names.groupby(["Name"]).Count.sum().sort_values(ascending=False))
names.head()

           Count
Name
Jacob     242874
Emma      214852
Michael   214405
Ethan     209277
Isabella  204798

### Step 8. How many different names exist in the dataset?

In [7]:
names.shape

(17632, 1)

### Step 9. What is the name with most occurrences?

In [8]:
names[names.Count == names.Count.max()].index[0]

'Jacob'

### Step 10. How many different names have the least occurrences?

In [9]:
names[names.Count == names.Count.min()].shape[0]

2578

### Step 11. What is the median name occurrence?

In [10]:
names[names.Count == names.Count.median()]

          Count
Name
Zuleima      49
Vita         49
Aziah        49
Kaedence     49
Antonina     49
...         ...
Mckynzie     49
Yoni         49
Hareem       49
Jkwon        49
Nazier       49

[66 rows x 1 columns]

### Step 12. What is the standard deviation of names?

In [11]:
names.Count.std()

11006.069467890571

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [12]:
names.describe()

               Count
count   17632.000000
mean     2008.932169
std     11006.069468
min         5.000000
25%        11.000000
50%        49.000000
75%       337.000000
max    242874.000000